.plane {
    /* height: 450px; */
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    /* Safari */
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #ffefd5;
    border-radius:5px;
}

.time {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.app-logo {
	/*animation: app-logo-spin infinite 20s linear;*/
	height: 80px;
}


.brcls {
    flex-basis: 100%;
    display: flex;
}

.color {
    width: 107px;
    height: 107px;
    display: inline-block;
    margin: 1px;
    text-align: center;
    line-height: 110px;
    background-color: #afeeee;
    border-radius:15px;
    font-size:36px; 
    color:black;
}

.colory {
    width: 107px;
    height: 107px;
    display: inline-block;
    margin: 1px;
    text-align: center;
    line-height: 110px;
    background-color: #ffefd5;
    border-radius:15px;
    font-size:36px; 
    color:black;
}

.colorg {
    width: 107px;
    height: 107px;
    display: inline-block;
    margin: 1px;
    text-align: center;
    line-height: 110px;
    background-color: #43e687;
    border-radius:15px;
    font-size:36px; 
    color:black;
}

.select1{
    font-family: "微软雅黑";
    margin:5px;
    background: rgba(0,0,0,0);
    width: 55px;
    height: 40px;
    font-size: 18px;
    color: black;
    text-align: center;
    border: 1px #1a1a1a solid;
    border-radius: 5px;
}
.option1{
    color: black;
    background: white;
    line-height: 20px;
}
.select:focus{
    border: 2px #ddd solid;
    box-shadow: 0 0 15px 1px #DDDDDD;
}
.option:hover{
    background: #EBCCD1;
}

.memo {
    background-color:#afeeee;
    border:none;
    color:white;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin:4px 2px;
    cursor: pointer;

}